In [1]:
import os
print(os.getcwd())

/Users/zhiweidong/Desktop/ING

In [2]:
!ls

Manual_Log.csv          Untitled.ipynb          report structure .pages

In [13]:
import pandas as pd
import numpy as np

In [4]:
log_df = pd.read_csv("Manual_Log.csv", sep = ";")

In [5]:
log_df.head()

,Time,Server,Message_type,CPU_Usage,Memory_Usage,Transaction_ID,To_Server,Message,Unnamed: 8
0,"9,820137612",Client,INFO,NaN,NaN,1,A,Request from customer Transaction ID: 1,NaN
1,"13,60578744",Client,INFO,NaN,NaN,2,A,Request from customer Transaction ID: 2,NaN
2,"13,6138917",B,INFO,"57,82%","99,57%",2,B,Send Authentication request to server B Transa...,NaN
3,"13,8733843",B,INFO,"37,79%","7,69%",1,B,Send Authentication request to server B Transa...,NaN
4,"14,2035077",B,INFO,"50,41%","49,60%",1,A,Return Authentication request to server A Tran...,NaN

In [9]:
flow = log_df[['Server','To_Server']]

In [11]:
flow.head()

   Server To_Server
0  Client         A
1  Client         A
2       B         B
3       B         B
4       B         A

In [26]:
Server_list=flow["Server"].unique()
Server_list

array(['Client', 'B', 'A', 'C'], dtype=object)

In [27]:
To_Server_list = flow["To_Server"].unique()
To_Server_list

array(['A', 'B', 'C', 'Client'], dtype=object)

In [23]:
flow[(flow["Server"] == "A") & (flow["To_Server"] == "C") ].shape[0]

10000

In [48]:
for i in Server_list:
    for j in To_Server_list:
        print("from "+i+" to "+ j + ",",
              len(flow[(flow["Server"] == i) & (flow["To_Server"] == j) ]))

from Client to A, 10000
from Client to B, 0
from Client to C, 0
from Client to Client, 0
from B to A, 10000
from B to B, 10000
from B to C, 0
from B to Client, 0
from A to A, 0
from A to B, 0
from A to C, 10000
from A to Client, 10000
from C to A, 10000
from C to B, 0
from C to C, 0
from C to Client, 0

In [72]:
value=[]

for i in Server_list:
    for j in To_Server_list:
        value.append(len(flow[(flow["Server"] == i) & (flow["To_Server"] == j) ]))

        
value_array=np.asarray(value).reshape(4,4)        
value_array

array([[10000,     0,     0,     0],
       [10000, 10000,     0,     0],
       [    0,     0, 10000, 10000],
       [10000,     0,     0,     0]])

In [92]:
#pd_matrix let us know how the messages flow from one server to another 
pd_matrix=pd.DataFrame(value_array)
trial_matrix = pd_matrix.set_axis(['Client', 'B', 'A', 'C'], axis=0, inplace=False)
final_matrix = trial_matrix.set_axis(['to A', 'to B', 'to C', 'to Client'], axis=1, inplace=False)
final_matrix

         to A   to B   to C  to Client
Client  10000      0      0          0
B       10000  10000      0          0
A           0      0  10000      10000
C       10000      0      0          0